h1{
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
}

ul.menu, .menu li, .menu a{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: 0;
}

ul.menu ul{
    display: none;
    position: absolute;
    box-shadow: 3px 3px 2px #333;
}

/*Configuração do nível 1*/
ul.menu{
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 5px;
}
.menu li{
    float: left;
    width: auto;
    position: relative;
}

.menu li a{
    display: block;
    padding: 0 20px;
    line-height: 45px;
    height :auto;      
    float: left;
    transition: all 0.1s linear;
}

/* Configuração do nível 2 */
.menu li:hover > ul.submenu-1{
    display: block;
    top: 45px;
    left: 0;
    padding: 5px;
    width: 200px;
    border-radius: 0 0 5px 5px;
}

.menu ul.submenu-1 a{
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/*  Configuração do nível 2 */
.menu li:hover > ul.submenu-1{
    display: block;
    top: 45px;
    left: 0;
    padding: 5px;
    width: 200px;
    border-radius: 0 0 5px 5px;    
}

.menu ul.submenu-2 a{
    width: 160px;
    padding: 0 20px;
    border-radius: 5px;
}

/* Configuração do nível 3 */
.menu li:hover > ul.submenu-3 {
    display: block;
    top: 0;
    left: 195px;
    width: 200px;
    border-radius: 0 5px 5px 5px ;
}
.menu ul.submenu-3 a{
    width: 160px;
    padding: 0 20px ;
    border-radius: 0px ;
}

/* Config. das cores */
/* nível 1 */
.menu{
    background: #CCC;
}

.menu a{
    color: #000;
}

.menu li:hover > a{
    background: #999;
    color: #fff;
}
/* Nível 2 */
.submenu-1{
    background: #999;
}

.submenu-1 a{
    color: #fff;
}

.submenu-1 li:hover > a{
    background: #666;
}

/* Nível 3 */
.submenu-2{
    background: #666;
}

.submenu-2 a{
    color: #fff;
}

.submenu li:hover > a{
    background: #333;
}

/* Nível 4 */
.submenu-3{
    background: #333;
}

.submenu-3 a{
    color: #fff;
}

.submenu-3 li:hover > a{
    background: #000;
}